# For more information on this config file, see:
#
#   https://github.com/ALSchwalm/pISO/wiki/Additional-Configuration

[ui]
size_step=5
default_size=50
min_button_press=50
button_long_press=1400

[user]
name="piso"
password="password"

[wifi.ap]
ssid="piso"
password="password"

[pins]
up_input=21
down_input=16
select_input=20
dc_pin=24
rst_pin=25